  body{
background-color: tan;
}
header {
  text-align: center;
}
img {
  border-radius: 50%;
    border: 5px solid #020202;
    width: 67%;
  }
  h1 {
    font-family: 'Lobster', cursive;
    color: #EACC23;
  }
.table {
  display: inline;
  float: left;
}
a {
  text-decoration: none;
}
table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}
tr:nth-child(2n) {
  background-color: rgba(224,221,221,0.39);
}
